<table class="table  table-hover">
<thead>
        <th>sno</th>
        <th>name</th>
        <th>city</th>
        <th>age</th>
</thead>
<tbody>
    {{#each people}}
    <tr>
        <td>{{sno}}</td>
        <td>{{name}}</td>
        <td>{{city}}</td>
        <td>{{age}}</td>
    </tr>
   {{/each}}
</tbody>
</table>